# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
import sys
!{sys.executable} -m pip install citipy

Requirement already satisfied: citipy in /Users/noemimontelongo/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (0.0.5)
Requirement already satisfied: kdtree>=0.12 in /Users/noemimontelongo/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from citipy) (0.16)

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [3]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [5]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Maceio,BR,-9.6658,-35.7353,72.84,94,0,4.61,clear sky
1,1,Pong,TH,19.1493,100.2752,88.61,56,32,1.34,scattered clouds
2,2,Cape Town,ZA,-33.9258,18.4232,61.92,75,0,11.99,clear sky
3,3,Vaini,TO,-21.2000,-175.2000,73.56,68,75,6.91,broken clouds
4,4,Mezen,RU,65.8522,44.2400,30.24,90,80,8.23,broken clouds

In [6]:
! pwd && ls -al

/Users/noemimontelongo/Desktop/World_Weather_Analysis/Vacation_Search
total 288
drwxr-xr-x   7 noemimontelongo  staff     224 Oct 25 23:23 .
drwxr-xr-x  20 noemimontelongo  staff     640 Oct 25 23:17 ..
-rw-r--r--@  1 noemimontelongo  staff    6148 Oct 25 10:48 .DS_Store
drwxr-xr-x   3 noemimontelongo  staff      96 Oct 20 14:44 .ipynb_checkpoints
-rw-r--r--@  1 noemimontelongo  staff  131889 Oct 25 23:23 Vacation_Search.ipynb
drwxr-xr-x   4 noemimontelongo  staff     128 Oct 20 17:24 __pycache__
-rw-r--r--@  1 noemimontelongo  staff      70 Oct 20 16:49 config.py

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [7]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pong,TH,19.1493,100.2752,88.61,56,32,1.34,scattered clouds
8,8,Kolaras,IN,25.2333,77.6000,76.24,41,0,6.15,clear sky
14,14,Pailon,BO,-17.6500,-62.7500,81.50,61,61,6.93,broken clouds
23,23,Mandapam,IN,9.2833,79.1167,83.34,68,33,8.68,scattered clouds
24,24,Hilo,US,19.7297,-155.0900,77.25,81,20,4.61,few clouds
33,33,Maubin,MM,16.7333,95.6500,86.18,68,81,2.46,broken clouds
36,36,Ko Samui,TH,9.5357,99.9357,87.71,74,20,8.05,few clouds
37,37,Matara,LK,5.9485,80.5353,82.36,73,100,3.87,light rain
40,40,Atambua,ID,-9.1061,124.8925,86.22,56,100,5.41,overcast clouds
45,45,Souillac,MU,-20.5167,57.5167,75.58,73,75,11.50,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and 
preferred_cities_df.isnull()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
686,False,False,False,False,False,False,False,False,False,False
705,False,False,False,False,False,False,False,False,False,False
706,False,False,False,False,False,False,False,False,False,False
709,False,False,False,False,False,False,False,False,False,False
710,False,False,False,False,False,False,False,False,False,False

In [10]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pong,TH,19.1493,100.2752,88.61,56,32,1.34,scattered clouds
8,8,Kolaras,IN,25.2333,77.6000,76.24,41,0,6.15,clear sky
14,14,Pailon,BO,-17.6500,-62.7500,81.50,61,61,6.93,broken clouds
23,23,Mandapam,IN,9.2833,79.1167,83.34,68,33,8.68,scattered clouds
24,24,Hilo,US,19.7297,-155.0900,77.25,81,20,4.61,few clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Wanning,CN,18.8003,110.3967,78.53,86,93,14.23,overcast clouds
705,705,Beira,MZ,-19.8436,34.8389,75.29,100,100,3.44,fog
706,706,Lahaina,US,20.8783,-156.6825,82.40,90,10,12.75,clear sky
709,709,Sambava,MG,-14.2667,50.1667,76.14,68,44,7.27,scattered clouds
710,710,Harper,LR,4.3750,-7.7169,76.95,89,88,7.56,light rain

In [12]:
#create a new DataFrame.
clean_travel_cities = pd.DataFrame(preferred_cities_df.dropna())

# Display sample data
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Pong,TH,19.1493,100.2752,88.61,56,32,1.34,scattered clouds
8,8,Kolaras,IN,25.2333,77.6000,76.24,41,0,6.15,clear sky
14,14,Pailon,BO,-17.6500,-62.7500,81.50,61,61,6.93,broken clouds
23,23,Mandapam,IN,9.2833,79.1167,83.34,68,33,8.68,scattered clouds
24,24,Hilo,US,19.7297,-155.0900,77.25,81,20,4.61,few clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Wanning,CN,18.8003,110.3967,78.53,86,93,14.23,overcast clouds
705,705,Beira,MZ,-19.8436,34.8389,75.29,100,100,3.44,fog
706,706,Lahaina,US,20.8783,-156.6825,82.40,90,10,12.75,clear sky
709,709,Sambava,MG,-14.2667,50.1667,76.14,68,44,7.27,scattered clouds
710,710,Harper,LR,4.3750,-7.7169,76.95,89,88,7.56,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [14]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Lat", "Lng","Current Description"]].copy()

# Display sample data
hotel_df

         City Country  Max Temp      Lat       Lng Current Description
1        Pong      TH     88.61  19.1493  100.2752    scattered clouds
8     Kolaras      IN     76.24  25.2333   77.6000           clear sky
14     Pailon      BO     81.50 -17.6500  -62.7500       broken clouds
23   Mandapam      IN     83.34   9.2833   79.1167    scattered clouds
24       Hilo      US     77.25  19.7297 -155.0900          few clouds
..        ...     ...       ...      ...       ...                 ...
686   Wanning      CN     78.53  18.8003  110.3967     overcast clouds
705     Beira      MZ     75.29 -19.8436   34.8389                 fog
706   Lahaina      US     82.40  20.8783 -156.6825           clear sky
709   Sambava      MG     76.14 -14.2667   50.1667    scattered clouds
710    Harper      LR     76.95   4.3750   -7.7169          light rain

[194 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [15]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df = preferred_cities_df.dropna()[["City", "Country", "Max Temp", "Lat", "Lng","Current Description"]].copy()
hotel_df["Hotel Name"] = ""


# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Pong,TH,88.61,19.1493,100.2752,scattered clouds,
8,Kolaras,IN,76.24,25.2333,77.6000,clear sky,
14,Pailon,BO,81.50,-17.6500,-62.7500,broken clouds,
23,Mandapam,IN,83.34,9.2833,79.1167,scattered clouds,
24,Hilo,US,77.25,19.7297,-155.0900,few clouds,
33,Maubin,MM,86.18,16.7333,95.6500,broken clouds,
36,Ko Samui,TH,87.71,9.5357,99.9357,few clouds,
37,Matara,LK,82.36,5.9485,80.5353,light rain,
40,Atambua,ID,86.22,-9.1061,124.8925,overcast clouds,
45,Souillac,MU,75.58,-20.5167,57.5167,light rain,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [16]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [17]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Pong,TH,88.61,19.1493,100.2752,scattered clouds,999 Hotel
8,Kolaras,IN,76.24,25.2333,77.6000,clear sky,Shiv Shakti Garden (Gayatri Colony)
14,Pailon,BO,81.50,-17.6500,-62.7500,broken clouds,La plaza
23,Mandapam,IN,83.34,9.2833,79.1167,scattered clouds,Tanvi Chachaa Chalet
24,Hilo,US,77.25,19.7297,-155.0900,few clouds,Hilo Hawaiian Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [19]:
hotel_df.isnull()

      City  Country  Max Temp    Lat    Lng  Current Description  Hotel Name
1    False    False     False  False  False                False       False
8    False    False     False  False  False                False       False
14   False    False     False  False  False                False       False
23   False    False     False  False  False                False       False
24   False    False     False  False  False                False       False
..     ...      ...       ...    ...    ...                  ...         ...
686  False    False     False  False  False                False       False
705  False    False     False  False  False                False       False
706  False    False     False  False  False                False       False
709  False    False     False  False  False                False       False
710  False    False     False  False  False                False       False

[194 rows x 7 columns]

In [ ]:
# Drop the rows where there is no Hotel Name.
#clean_hotel_df = # YOUR CODE HERE
#df = df.drop(df[df.score < 50].index)

clean_hotel_df = hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == True].index)


# Display sample data
# YOUR CODE HERE
hotel_df

In [ ]:
# Create an CSV file to store the clean_hotel_df

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [33]:
# Set the file name.
output_data_file = "../WeatherPY_vacation.csv"


# Create a CSV file by using the clean_hotel_df DataFrame
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [27]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [28]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
1,Pong,TH,88.61,19.1493,100.2752,scattered clouds,999 Hotel
8,Kolaras,IN,76.24,25.2333,77.6000,clear sky,Shiv Shakti Garden (Gayatri Colony)
14,Pailon,BO,81.50,-17.6500,-62.7500,broken clouds,La plaza
23,Mandapam,IN,83.34,9.2833,79.1167,scattered clouds,Tanvi Chachaa Chalet
24,Hilo,US,77.25,19.7297,-155.0900,few clouds,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
686,Wanning,CN,78.53,18.8003,110.3967,overcast clouds,Paradise Hotel
705,Beira,MZ,75.29,-19.8436,34.8389,fog,Beira Terrace Hotel
706,Lahaina,US,82.40,20.8783,-156.6825,clear sky,Lahaina Shores Beach Resort
709,Sambava,MG,76.14,-14.2667,50.1667,scattered clouds,Melrose
710,Harper,LR,76.95,4.3750,-7.7169,light rain,Screensaver

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Display sample data
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>999 Hotel</dd>\n<dt>City</dt><dd>Pong</dd>\n<dt>Country</dt><dd>TH</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 88.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shiv Shakti Garden (Gayatri Colony)</dd>\n<dt>City</dt><dd>Kolaras</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>La plaza</dd>\n<dt>City</dt><dd>Pailon</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanvi Chachaa Chalet</dd>\n<dt>City</dt><dd>Mandapam</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 83.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SSB office</dd>\n<dt>City</dt><dd>Maubin</dd>\n<dt>Country</dt><dd>MM</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Passage</dd>\n<dt>City</dt><dd>Ko Samui</dd>\n<dt>Country</dt><dd>TH</dd>\n<dt>Current Weather</dt><dd>few clouds and 87.71 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Amaloh Boutique Resort</dd>\n<dt>City</dt><dd>Matara</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>light rain and 82.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ros Muskanan</dd>\n<dt>City</dt><dd>Atambua</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>light rain and 75.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Posada San Jose</dd>\n<dt>City</dt><dd>Pochutla</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Cititel Penang</dd>\n<dt>City</dt><dd>Georgetown</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 85.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tanna Lodge</dd>\n<dt>City</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel La dorada</dd>\n<dt>City</dt><dd>Carupano</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Airai</dd>\n<dt>Country</dt><dd>TL</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Gîte d’Iracoubo</dd>\n<dt>City</dt><dd>Iracoubo</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 77.32 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 82.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.97 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tour Eiffel Hotel Benin</dd>\n<dt>City</dt><dd>Porto Novo</dd>\n<dt>Country</dt><dd>BJ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>"Plantation Bed and Breakfast</dd>\n<dt>City</dt><dd>Saint-Joseph</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Sentral Kuantan</dd>\n<dt>City</dt><dd>Kuantan</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>moderate rain and 82.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Butterfly Beach Hotel</dd>\n<dt>City</dt><dd>Oistins</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Rua Camurupim</dd>\n<dt>City</dt><dd>Aquiraz</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gardenia Country Inn</dd>\n<dt>City</dt><dd>Tomohon</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kevina Transient House</dd>\n<dt>City</dt><dd>Aborlan</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 89.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sabindo Hotel</dd>\n<dt>City</dt><dd>Keningau</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 87.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oumou Elghoura</dd>\n<dt>City</dt><dd>Atar</dd>\n<dt>Country</dt><dd>MR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Leumerus Bungalows</dd>\n<dt>City</dt><dd>Sola</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>clear sky and 80.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Cerro De Zumba</dd>\n<dt>City</dt><dd>San Juan De Uraba</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>light rain and 77.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Caycay future beach resort</dd>\n<dt>City</dt><dd>Tagusao</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Moon light Furnished Units</dd>\n<dt>City</dt><dd>Umm Lajj</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Desert Gardens Hotel - Ayers Rock Resort</dd>\n<dt>City</dt><dd>Yulara</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Serras Hotel</dd>\n<dt>City</dt><dd>Rondonopolis</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Auberge du Routard</dd>\n<dt>City</dt><dd>Oussouye</dd>\n<dt>Country</dt><dd>SN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Poum</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fengshui Residence</dd>\n<dt>City</dt><dd>Port-Gentil</dd>\n<dt>Country</dt><dd>GA</dd>\n<dt>Current Weather</dt><dd>light rain and 78.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swiss Belhotel Sharjah</dd>\n<dt>City</dt><dd>Sharjah</dd>\n<dt>Country</dt><dd>AE</dd>\n<dt>Current Weather</dt><dd>haze and 82.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Park Hotel | Natal</dd>\n<dt>City</dt><dd>Natal</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Welcombe Hotel</dd>\n<dt>City</dt><dd>Trincomalee</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Reserva do Abiaí</dd>\n<dt>City</dt><dd>Pitimbu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mioki Hometel</dd>\n<dt>City</dt><dd>Batuan</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>moderate rain and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fuente del Guania Hotel de Lujo</dd>\n<dt>City</dt><dd>Inirida</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Rancho La Mecha</dd>\n<dt>City</dt><dd>Bayaguana</dd>\n<dt>Country</dt><dd>DO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ALETHEIA Appartement Sinnamary</dd>\n<dt>City</dt><dd>Sinnamary</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Uruna Bay Retreat</dd>\n<dt>City</dt><dd>Kieta</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>light rain and 82.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aviador Hotel Boutique</dd>\n<dt>City</dt><dd>Santa Cruz</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel CocoAventura</dd>\n<dt>City</dt><dd>Anton Lizardo</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 80.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scuba Portobelo</dd>\n<dt>City</dt><dd>Portobelo</dd>\n<dt>Country</dt><dd>PA</dd>\n<dt>Current Weather</dt><dd>light rain and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pekan Budget Hotel</dd>\n<dt>City</dt><dd>Pekan</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sparsa Kanyakumari</dd>\n<dt>City</dt><dd>Kanniyakumari</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Tiznit</dd>\n<dt>Country</dt><dd>MA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CeBlue Villas & Beach Resort</dd>\n<dt>City</dt><dd>The Valley</dd>\n<dt>Country</dt><dd>AI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Syariah CN Darussalam</dd>\n<dt>City</dt><dd>Sibolga</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Playa Bonita Resort</dd>\n<dt>City</dt><dd>Puerto Penasco</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hwange Colliery Guest House</dd>\n<dt>City</dt><dd>Hwange</dd>\n<dt>Country</dt><dd>ZW</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Palms Hotel</dd>\n<dt>City</dt><dd>Beruwala</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shishime Hotel</dd>\n<dt>City</dt><dd>Naze</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>In Wewak Boutique Hotel</dd>\n<dt>City</dt><dd>Wewak</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 84.24 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 79.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Citra</dd>\n<dt>City</dt><dd>Sabang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Osprey Beach Hotel</dd>\n<dt>City</dt><dd>Cockburn Town</dd>\n<dt>Country</dt><dd>TC</dd>\n<dt>Current Weather</dt><dd>light rain and 79.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Surrey Lodge</dd>\n<dt>City</dt><dd>Rusape</dd>\n<dt>Country</dt><dd>ZW</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL QUINTA ANTIGUA</dd>\n<dt>City</dt><dd>Lazaro Cardenas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sunrise Attitude Hotel</dd>\n<dt>City</dt><dd>Quatre Cocos</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>light rain and 77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel</dd>\n<dt>City</dt><dd>Salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 78.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Eden Island Resort and Spa</dd>\n<dt>City</dt><dd>Alim</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>light rain and 84.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kost Pria</dd>\n<dt>City</dt><dd>Meulaboh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Flamingo</dd>\n<dt>City</dt><dd>Quelimane</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le Rocher de Tahiti</dd>\n<dt>City</dt><dd>Tiarei</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mantra Nelson Bay</dd>\n<dt>City</dt><dd>Nelson Bay</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Swiss-Belhotel Ambon</dd>\n<dt>City</dt><dd>Ambon</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 89.74 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Xinyu Beihu Hotel</dd>\n<dt>City</dt><dd>Xinyu</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seri Simanggang Hotel</dd>\n<dt>City</dt><dd>Sri Aman</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Current Weather</dt><dd>few clouds and 89.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Yugaf Inn Okinawa</dd>\n<dt>City</dt><dd>Nago</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atul Guest House</dd>\n<dt>City</dt><dd>Bajna</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 598 Peony Hotel</dd>\n<dt>City</dt><dd>Cam Ranh</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>few clouds and 89.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Phu Quy Hotel</dd>\n<dt>City</dt><dd>Soc Trang</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pondok Wisata Elim</dd>\n<dt>City</dt><dd>Waingapu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 86.34 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vahmoneh Lodge Vanimo</dd>\n<dt>City</dt><dd>Vanimo</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Coral Sands Hotel</dd>\n<dt>City</dt><dd>Dunmore Town</dd>\n<dt>Country</dt><dd>BS</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Urban Style by Front One</dd>\n<dt>City</dt><dd>Pringsewu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Ravinala</dd>\n<dt>City</dt><dd>Tsiroanomandidy</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>El Buen Hotel</dd>\n<dt>City</dt><dd>Hatillo</dd>\n<dt>Country</dt><dd>PR</dd>\n<dt>Current Weather</dt><dd>moderate rain and 77.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SanBiz Lodge</dd>\n<dt>City</dt><dd>Kirakira</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nuli Sapi</dd>\n<dt>City</dt><dd>Samarai</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Imagination Island</dd>\n<dt>City</dt><dd>Gizo</dd>\n<dt>Country</dt><dd>SB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 84.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Veranda Paul et Virginie Hotel & Spa</dd>\n<dt>City</dt><dd>Grand Gaube</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Sebel Kiama Harbourside</dd>\n<dt>City</dt><dd>Kiama</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Banjanay Hotel</dd>\n<dt>City</dt><dd>Xuddur</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.62 °F</dd>\n</dl>\n',

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [31]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   19.1493  100.2752
8   25.2333   77.6000
14 -17.6500  -62.7500
23   9.2833   79.1167
24  19.7297 -155.0900
33  16.7333   95.6500
36   9.5357   99.9357
37   5.9485   80.5353
40  -9.1061  124.8925
45 -20.5167   57.5167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [32]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


# Create a figure to add the Google map as a layer
# YOUR CODE HERE
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))